<div class="grid">
    <div class="col-12 md:col-6 md:col-offset-3">
      <p-card>
        <div class="formgrid grid">
          <div class="field col">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Buscar"/>
            </span>
          </div>
          <div class="field col">
            <button pButton type="button" label="Crear" icon="pi pi-plus" (click)="showDialog()"></button>
          </div>
        </div>
  
        <p-table [value]="reservationList" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Fecha de Reserva</th>
              <th>Status</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reservation>
            <tr>
              <td>{{ reservation.id }}</td>
              <td>{{ reservation.reservationDate | date:'mediumDate' }}</td>
              <td>{{ reservation.status }}</td>
              <td>
                <button pButton type="button" icon="pi pi-pencil" class="p-button-text" (click)="showDialog(reservation)"></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-text" (click)="deleteReservation(reservation.id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
  
  <p-dialog header="Crear/Editar Reserva" [(visible)]="displayModal" [modal]="true" [style]="{width: '450px'}">
    <app-create-reservation [reservationToEdit]="editReservationItem" (onClose)="closeModal()" (onCreated)="closeModalAndReloadList()"></app-create-reservation>
  </p-dialog>
  