<p-card>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="p-grid">
      <div class="p-col-6">
        <span class="p-label">
          <label for="estudiante">Estudiante</label>
          <p-dropdown [options]="students" formControlName="carnet" optionLabel="carnet" placeholder="Select a student"></p-dropdown>
        </span>
      </div>
      <div class="p-col-6">
        <span class="p-label">
          <label for="estudiante">libro</label>
          <p-dropdown [options]="books" formControlName="bookCode" optionLabel="displayLabel" placeholder="Select a book"></p-dropdown>
        </span>
      </div>
      <div class="p-col-6">
        <span class="p-label">
          <label for="reservationDate">Reservation Date</label>
          <input id="reservationDate" type="date" pInputText formControlName="reservationDate">
        </span>
      </div>
      <div class="p-col-6">
        <span class="p-label">
          <label for="status">Status</label>
          <p-dropdown 
            [options]="statusOptions" 
            formControlName="status"
            optionLabel="label"
            placeholder="Select a status"
            inputId="status">
          </p-dropdown>
        </span>
      </div>
      
    </div>
    <br>
    <button type="submit" pButton label="Submit" [disabled]="!reservationForm.valid"></button>
  </form>
</p-card>
<p-toast position="bottom-right"></p-toast>