<p-card>
    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()" class="p-fluid">
      <div class="p-grid">
        <div class="p-col-6">
          <span class="p-label">
            <label for="estudiante">Estudiante</label>
            <p-dropdown [options]="students" formControlName="student" optionLabel="label" placeholder="Select a student"></p-dropdown>
          </span>
        </div>
        <div class="p-col-6">
          <span class="p-label">
            <label for="loanDate">Loan Date</label>
            <input id="loanDate" type="date" pInputText formControlName="loanDate">
          </span>
        </div>
        <br>
        <div class="p-col-6">
          <span class="p-label">
            <label for="returnDate">Return Date</label>
            <input id="returnDate" type="date" pInputText formControlName="returnDate">
          </span>
        </div>
        <br>
        <div class="p-col-6">
          <span class="p-label">
            <label for="totalDue">Total Due</label>
            <input id="totalDue" type="number" pInputText formControlName="totalDue">
          </span>
        </div>
        <br>
        <div class="p-col-6">
          <span class="p-label">
            <label for="status">Status</label>
            <input id="status" type="text" pInputText formControlName="status">
          </span>
        </div>
      </div>
      <br>
      <button type="submit" pButton label="Submit" [disabled]="!loanForm.valid"></button>
    </form>
  </p-card>
  